# 默认归属人
*                       @TT-chen-cqz

# 治理与校验文件
/POLICY.md              @TT-chen-cqz
/CONTRIBUTING.md        @TT-chen-cqz
/schema/                @TT-chen-cqz
/scripts/               @TT-chen-cqz
/.github/               @TT-chen-cqz

# 索引
/index.json             @TT-chen-cqz
